<div class="main-wrapper">
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-5 col-lg-4 col-xl-3 theiaStickySidebar">

                    <div class="profile-sidebar">
                        <div class="widget-profile pro-widget-content">
                            <div class="profile-info-widget">
                                <a href="#" class="booking-doc-img">
                                    <img style="transform: scale(1.4);" src="http://localhost/img/patientAnim.gif" alt="User Image">
                                </a>
                                <div class="profile-det-info">
                                    <h3>Welcome, <%= user.fullName %>
                                    </h3>
                                    <div class="patient-details">
                                        <button type="button" class="btn bg-info-light btn-sm"
                                                                    id="topup_status">Patient</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="dashboard-widget">
                            <nav class="dashboard-menu">
                                <ul>
                                    <li style="background-color: #09e5ab;">
                                        <a href="/dashboard" style="color: white;">
                                            <i class="fas fa-check"></i>
                                            <span>Choose Medical Center</span>
                                        </a>
                                    </li>
                                    <li style="background-color: gold;">
                                        <a style="color: white;">
                                            <i class="fas fa-clone"></i>
                                            <span>Choose Vaccine Batch</span>
                                        </a>
                                    </li>
                                    <li style="background-color: rgba(211, 211, 211, 0.535);">
                                        <a style="color: grey;">
                                            <i class="fas fa-calendar"></i>
                                            <span>Appointment Booked</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/users/logout">
                                            <i class="fas fa-sign-out-alt"></i>
                                            <span>Logout</span>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>

                </div>
                <div class="col-md-7 col-lg-8 col-xl-9">
                    <div class="card">
                        <div class="card-body">
                        <div class="doctor-widget">
                        <div class="doc-info-left">
                        <div class="doctor-img">
                        <img src="http://localhost/img/hos.jpeg" class="img-fluid" alt="User Image">
                        </div>
                        <div class="doc-info-cont">
                        <h4 class="doc-name"><%= center.centerName %></h4>
                        
                        
                        <div class="clinic-details">
                        <p class="doc-location"><i class="fas fa-map-marker-alt"></i> <%= center.centerAddress %> - <a href="javascript:void(0);">Get Directions</a></p>
                        </div>
                        <p class="doc-speciality">Choose the vaccine batch and make an appointment</p>
                        </div>
                        </div>
                   
                        </div>
                        </div>
                        </div>
                <div class="row">
                    <div class="col-sm-12">
                    <div class="card">
                    <div class="card-body pt-0">
                <nav class="user-tabs mb-4">
                    <ul class="nav nav-tabs nav-tabs-bottom nav-justified">
                    <li class="nav-item">
                    <a class="nav-link active" href="#pfizer" data-toggle="tab">Pfizer</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="#moderna" data-toggle="tab">Moderna</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#jj" data-toggle="tab">Johnson & Johnson</a>
                    </li>
                    </ul>
                    </nav>
                    <div class="tab-content pt-0">

                        <div id="pfizer" class="tab-pane fade show active">
                            <div class="appointments">
                            <% 
                                let count = 0;
                                for(var i=0; i<pfizer.length; i++) {
                            %>
                                <% 
                                    if(center.batches.includes(pfizer[i]._id)) {
                                    count += 1    
                                %>
                                    <div class="appointment-list">
                                        <div class="profile-info-widget">
                                            <a href="#" class="booking-doc-img">
                                                <img src="http://localhost/img/pfizer.png" alt="User Image">
                                            </a>
                                            <div class="profile-det-info">
                                                <h3>BatchID: <%= pfizer[i].batchID %></h3><br>
                                                <div class="patient-details">
                                                    <h5><i class="fas fa-calendar"></i> <%= pfizer[i].expiryDate %> expiry </h5>
                                                    <h5><i class="fas fa-check-circle"></i> <%= pfizer[i].availableQuantity %> quantity available</h5>
                                                    <h5 class="mb-0"><i class="fas fa-plus-circle"></i> <%= pfizer[i].administratedQuantity %> administrated</h5>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="appointment-action">
                                            <div class="clinic-booking">
                                                <a class="apt-btn" data-toggle="modal"
                                                data-target="#B<%= pfizer[i].batchID %>">Book Appointment</a>
                                            </div>
                                        </div>
                                    </div>
                                
                                <% } %>
                                <% } %>
                                <% if(count === 0) { %>
                                    <div class="card-body">
                                        <div class="success-cont" >
                                            <i class="far fa-clone"></i>
                                            <h5 style="color: lightgrey;">There is no available batches for this vaccine yet!</h5>
                                        </div>
                                    </div>
                                <% } %>
                        </div>
                    </div>
                        
                        
                        <div class="tab-pane fade" id="moderna">
                            <div class="appointments">
                                <% 
                                    let count2 = 0;
                                    for(var i=0; i<moderna.length; i++) {
                                %>
                                    <% 
                                        if(center.batches.includes(moderna[i]._id)) {
                                        count2 += 1    
                                    %>
                                    <div class="appointment-list">
                                        <div class="profile-info-widget">
                                            <a href="#" class="booking-doc-img">
                                                <img src="http://localhost/img/moderna.png" alt="User Image">
                                            </a>
                                            <div class="profile-det-info">
                                                <h3>BatchID: <%= moderna[i].batchID %></h3><br>
                                                <div class="patient-details">
                                                    <h5><i class="fas fa-calendar"></i> <%= moderna[i].expiryDate %> expiry </h5>
                                                    <h5><i class="fas fa-check-circle"></i> <%= moderna[i].availableQuantity %> quantity available</h5>
                                                    <h5 class="mb-0"><i class="fas fa-plus-circle"></i> <%= moderna[i].administratedQuantity %> administrated</h5>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="appointment-action">
                                            <div class="clinic-booking">
                                                <a class="apt-btn" data-toggle="modal"
                                                data-target="#B<%= moderna[i].batchID %>">Book Appointment</a>
                                            </div>
                                        </div>
                                    </div>
                                <% } %>
                                <% } %>
                                <% if(count2 === 0) { %>
                                    <div class="card-body">
                                        <div class="success-cont" >
                                            <i class="far fa-clone"></i>
                                            <h5 style="color: lightgrey;">There is no available batches for this vaccine yet!</h5>
                                        </div>
                                    </div>
                                <% } %>
                            </div>
                        </div>

                        <div class="tab-pane fade" id="jj">
                            <div class="appointments">
                                <% 
                                    let count3 = 0;
                                    for(var i=0; i<jj.length; i++) {
                                %>
                                    <% 
                                        if(center.batches.includes(jj[i]._id)) {
                                        count3 += 1    
                                    %>
                                    <div class="appointment-list">
                                        <div class="profile-info-widget">
                                            <a href="#" class="booking-doc-img">
                                                <img src="http://localhost/img/jaj.png" alt="User Image">
                                            </a>
                                            <div class="profile-det-info">
                                                <h3>BatchID: <%= jj[i].batchID %></h3><br>
                                                <div class="patient-details">
                                                    <h5><i class="fas fa-calendar"></i> <%= jj[i].expiryDate %> expiry </h5>
                                                    <h5><i class="fas fa-check-circle"></i> <%= jj[i].availableQuantity %> quantity available</h5>
                                                    <h5 class="mb-0"><i class="fas fa-plus-circle"></i> <%= jj[i].administratedQuantity %> administrated</h5>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="appointment-action">
                                            <div class="clinic-booking">
                                                <a class="apt-btn" data-toggle="modal"
                                                data-target="#B<%= jj[i].batchID %>">Book Appointment</a>
                                            </div>
                                        </div>
                                    </div>
                                <% } %>
                                <% } %>
                                <% if(count3 === 0) { %>
                                    <div class="card-body">
                                        <div class="success-cont" >
                                            <i class="far fa-clone"></i>
                                            <h5 style="color: lightgrey;">There is no available batches for this vaccine yet!</h5>
                                        </div>
                                    </div>
                                <% } %>
                        </div>
                    </div>
                        </div>
                   

                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
</div>
</div>
<% for(var i=0; i<pfizer.length; i++) {%>
    <% if(center.batches.includes(pfizer[i]._id)) {%>
                <div class="modal fade custom-modal" id="B<%= pfizer[i].batchID %>">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Appointment Details</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <ul class="info-details">
                                    <li>
                                        <div class="details-header">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    
                                                    <span class="title">BatchID:</span>
                                                    <span class="text"><%= pfizer[i].batchID %></span>
                                                        
    
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="text-right">
                                                        <button type="button" class="btn bg-warning-light btn-sm"
                                                            id="topup_status">New</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <span class="title">Status:</span>
                                        <span class="text">New</span>
                                    </li>
                                    <li>
                                        <span class="title">Vaccine type:</span>
                                        <span class="text">Pfizer</span>
                                    </li>
                                    <li>
                                        <span class="title">Expiry Date:</span>
                                        <span class="text"><%= pfizer[i].expiryDate %></span>
                                    </li>
                                    <li>
                                        <span class="title">Appointment date:</span>
                                                    <br>
                                                    <form action="/batch/<%= center._id %>/<%= pfizer[i].batchID %>/booked" method="POST">
                                                        <input type="date" class="form-control" name="schedule_date" id="schedule_date" value="2021-05-21" min="2021-05-21"><br>
                                                        <button type="submit" class="btn btn-primary submit-btn">Confirm</button>
                                                    </form>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <% } %>
                <% } %>
            
                <% for(var i=0; i<moderna.length; i++) {%>
                    <% if(center.batches.includes(moderna[i]._id)) {%>
                        <div class="modal fade custom-modal" id="B<%= moderna[i].batchID %>">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">Appointment Details</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <ul class="info-details">
                                            <li>
                                                <div class="details-header">
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            
                                                            <span class="title">BatchID:</span>
                                                            <span class="text"><%= moderna[i].batchID %></span>
                                                                
            
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="text-right">
                                                                <button type="button" class="btn bg-warning-light btn-sm"
                                                                    id="topup_status">New</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <span class="title">Status:</span>
                                                <span class="text">New</span>
                                            </li>
                                            <li>
                                                <span class="title">Vaccine type:</span>
                                                <span class="text">Pfizer</span>
                                            </li>
                                            <li>
                                                <span class="title">Expiry Date:</span>
                                                <span class="text"><%= moderna[i].expiryDate %></span>
                                            </li>
                                            <li>
                                                <span class="title">Appointment date:</span>
                                                            <br>
                                                            <form action="/batch/<%= center._id %>/<%= moderna[i].batchID %>/booked" method="POST">
                                                                <input type="date" class="form-control" name="schedule_date" id="schedule_date" value="2021-05-21" min="2021-05-21"><br>
                                                                <button type="submit" class="btn btn-primary submit-btn">Confirm</button>
                                                            </form>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <% } %>
                    <% } %>

                    <% for(var i=0; i<jj.length; i++) {%>
                        <% if(center.batches.includes(jj[i]._id)) {%>
                            <div class="modal fade custom-modal" id="B<%= jj[i].batchID %>">
                                <div class="modal-dialog modal-dialog-centered">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title">Appointment Details</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <ul class="info-details">
                                                <li>
                                                    <div class="details-header">
                                                        <div class="row">
                                                            <div class="col-md-6">
                                                                
                                                                <span class="title">BatchID:</span>
                                                                <span class="text"><%= jj[i].batchID %></span>
                                                                    
                
                                                            </div>
                                                            <div class="col-md-6">
                                                                <div class="text-right">
                                                                    <button type="button" class="btn bg-warning-light btn-sm"
                                                                        id="topup_status">New</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <span class="title">Status:</span>
                                                    <span class="text">New</span>
                                                </li>
                                                <li>
                                                    <span class="title">Vaccine type:</span>
                                                    <span class="text">Pfizer</span>
                                                </li>
                                                <li>
                                                    <span class="title">Expiry Date:</span>
                                                    <span class="text"><%= jj[i].expiryDate %></span>
                                                </li>
                                                <li>
                                                    <span class="title">Appointment date:</span>
                                                                <br>
                                                                <form action="/batch/<%= center._id %>/<%= jj[i].batchID %>/booked" method="POST">
                                                                    <input type="date" class="form-control" name="schedule_date" id="schedule_date" value="2021-05-21" min="2021-05-21"><br>
                                                                    <button type="submit" class="btn btn-primary submit-btn">Confirm</button>
                                                                </form>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        <% } %>
                        <% } %>